  <div class= "meetup_info">
    <h1>  <%= @meetup.meetup_name %> Info </h1>
      <div> Description:  <%= @meetup.description %>   </div>
      <div> Location: <%= @meetup.location %> </div>
      <div> Meetup Host: <%= @meetup.meetup_creator %> </div>
      <% unless @users.nil? %>
          <% @users.each do |user| %>
            <div> <%= user.username %>  </div>
            <div> <%= user.avatar_url %> </div>
          <% end %>
      <% end %>
  </div>
<form action = "/meetups/:id" method = "post">

  <input name="meetuprecord[meetup_id]" id="current_meetup" value="<%= @current_meetup.id %>" type="hidden"> </input>
  <input name="meetuprecord[user_id]" id="current_user" value="<%= @current_user.id %>" type="hidden"> </input>

  <input type="submit" id="meetup_button" value="Join Meetup">
</form>
